.jumbotron-button {
    margin-right: 5px;
}


@media (max-width: 767px) {
    .jumbotron-button {
        margin-bottom: 5px;
    }
}

.headingh2 {
    margin-bottom: 20px;
}

body {
    overflow-x: hidden;
}
